<header>
    <div class="navbar">
        <div class="logo">
            <a href="index.html">Jenny</a>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="cta">
            <a href="#" class="btn">Let's chat</a>
        </div>
    </div>
</header>
